In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# Standard library imports.
import itertools
import json

# Related third party imports.
import pandas as pd
import numpy as np

# Local application/library specific imports.

## Save json to csv

In [5]:
network = '25_italy'
simulation_date = '2021-11-08'
placement_type = 'heu-hco'

df = pd.read_json(f"../results/{network}/{simulation_date}-{network}-{placement_type}.json")
df.latency_factor = df.latency_factor.round(1)

In [43]:
df.to_csv(f"../results/{network}/2021-11-04-{network}-ilp-hco.csv", index=False)

In [6]:
df.query(" vSDN_size == 2 ")

,acceptable_count,acceptance_ratio,acceptance_ratio_ilp,chs_avg,chs_avg_b,chs_avg_p,chs_max_b,chs_max_p,cp_objective,diameter,...,max_length,network,request_processing_time,shortest_k,vSDN_count,vSDN_count_ilp,vSDN_coverage,vSDN_generator_seed,vSDN_max_size_ilp,vSDN_size
0,12,0.352941,NaN,0,56,4,152,99,random,1586,...,158,25_italy,0.00,16,34,0,1.0,123,0,2
12,0,0.000000,NaN,0,-1,-1,-1,-1,random,1586,...,158,25_italy,0.00,16,34,0,1.0,123,0,2
24,0,0.000000,NaN,0,-1,-1,-1,-1,random,1586,...,158,25_italy,0.00,16,34,0,1.0,123,0,2
36,0,0.000000,NaN,0,-1,-1,-1,-1,random,1586,...,158,25_italy,0.00,16,34,0,1.0,123,0,2
48,0,0.000000,NaN,0,-1,-1,-1,-1,random,1586,...,158,25_italy,0.00,16,34,0,1.0,123,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1140,34,1.000000,NaN,0,1473,1356,1585,1581,random,1586,...,1586,25_italy,0.71,16,34,0,1.0,123,0,2
1152,34,1.000000,NaN,0,1485,1390,1585,1575,random,1586,...,1586,25_italy,0.89,16,34,0,1.0,123,0,2
1164,34,1.000000,NaN,0,1475,1372,1585,1582,random,1586,...,1586,25_italy,0.68,16,34,0,1.0,123,0,2
1176,34,1.000000,NaN,0,1463,1356,1585,1583,random,1586,...,1586,25_italy,1.09,16,34,0,1.0,123,0,2
1188,34,1.000000,NaN,0,1479,1352,1585,1583,random,1586,...,1586,25_italy,0.85,16,34,0,1.0,123,0,2

## Analyse Data

In [3]:
network = '25_italy'
simulation_date = '2021-11-09'

placement_type = 'heu-hco'
dfh = pd.read_json(f"../results/{network}/{simulation_date}-{network}-{placement_type}.json")
dfh.latency_factor = dfh.latency_factor.round(1)

placement_type = 'ilp-hco'
dfi = pd.read_json(f"../results/{network}/{simulation_date}-{network}-{placement_type}.json")
dfi.latency_factor = dfi.latency_factor.round(1)

placement_type = 'ilp-acc'
dfa = pd.read_json(f"../results/{network}/{simulation_date}-{network}-{placement_type}.json")
dfa.latency_factor = dfa.latency_factor.round(1)

placement_type = 'ilp-opt'
dfo = pd.read_json(f"../results/{network}/{simulation_date}-{network}-{placement_type}.json")
dfo.latency_factor = dfo.latency_factor.round(1)

In [7]:
for df in [dfh, dfi, dfa, dfo]:
    print(df.query("latency_factor == 0.6 & vSDN_size == 8")[['acceptance_ratio','hp_runtime']].mean())

acceptance_ratio    0.437
hp_runtime          7.725
dtype: float64
acceptance_ratio    0.072
hp_runtime          0.752
dtype: float64
acceptance_ratio     1.000
hp_runtime          15.337
dtype: float64
acceptance_ratio     1.000
hp_runtime          14.651
dtype: float64

In [8]:
dfh.query("latency_factor == 0.5 & vSDN_size == 6")[['acceptance_ratio','hp_runtime','h_list']]

     acceptance_ratio  hp_runtime                  h_list
484              0.45        4.93  [0, 4, 13, 19, 20, 23]
496              0.48        6.98  [0, 4, 13, 19, 20, 23]
508              0.41        5.02  [0, 4, 13, 19, 20, 23]
520              0.52        5.91  [0, 3, 13, 19, 20, 23]
532              0.74        6.24  [0, 5, 13, 19, 20, 23]
544              0.66        5.49  [0, 5, 13, 20, 23, 24]
556              0.51        7.53   [3, 4, 7, 20, 22, 23]
568              0.52        6.91  [0, 3, 13, 19, 20, 23]
580              0.70        5.62  [0, 5, 13, 20, 23, 24]
592              0.74        5.06  [0, 5, 13, 19, 20, 23]

In [9]:
dfi.query("latency_factor == 0.5 & vSDN_size == 6")[['acceptance_ratio','hp_runtime','h_list']]

     acceptance_ratio  hp_runtime                 h_list
484              0.01        0.88  [3, 4, 6, 20, 22, 23]
496              0.03        0.68  [3, 4, 6, 20, 22, 23]
508              0.01        1.03  [3, 4, 6, 20, 22, 23]
520              0.02        1.17  [3, 4, 6, 20, 22, 23]
532              0.01        0.81  [3, 4, 6, 20, 22, 23]
544              0.04        1.07  [3, 4, 6, 20, 22, 23]
556              0.01        0.90  [3, 4, 6, 20, 22, 23]
568              0.01        0.73  [3, 4, 6, 20, 22, 23]
580              0.03        0.72  [3, 4, 6, 20, 22, 23]
592              0.04        1.05  [3, 4, 6, 20, 22, 23]

In [10]:
dfa.query("latency_factor == 0.5 & vSDN_size == 6")[['acceptance_ratio','hp_runtime','h_list']]

     acceptance_ratio  hp_runtime                  h_list
484              0.80       36.94  [0, 5, 13, 20, 23, 24]
496              0.85       98.62  [5, 6, 15, 20, 23, 24]
508              0.77       38.88  [5, 6, 15, 20, 23, 24]
520              0.80       31.44  [0, 5, 13, 20, 23, 24]
532              0.70       32.76  [0, 4, 13, 19, 20, 23]
544              0.72       53.14  [5, 6, 15, 20, 23, 24]
556              0.78       38.83  [0, 5, 13, 20, 23, 24]
568              0.82       35.03  [5, 6, 15, 20, 23, 24]
580              0.76       37.43  [5, 7, 15, 20, 23, 24]
592              0.81       48.31  [5, 7, 15, 20, 23, 24]

In [11]:
dfo.query("latency_factor == 0.5 & vSDN_size == 6")[['acceptance_ratio','hp_runtime','h_list']]

     acceptance_ratio  hp_runtime                  h_list
484              0.80       34.97  [0, 5, 13, 20, 23, 24]
496              0.86       57.46  [5, 7, 15, 20, 23, 24]
508              0.79       61.82  [5, 6, 15, 20, 23, 24]
520              0.81       37.05  [0, 5, 13, 20, 23, 24]
532              0.79       31.34  [5, 7, 15, 20, 23, 24]
544              0.82       48.07  [0, 5, 13, 20, 23, 24]
556              0.78       34.42  [5, 6, 15, 20, 23, 24]
568              0.82       48.56  [5, 7, 15, 20, 23, 24]
580              0.80       26.72  [0, 5, 13, 20, 23, 24]
592              0.81       57.95  [5, 7, 15, 20, 23, 24]

## Save data for latex/pgfplots

In [18]:
network = '25_italy'
simulation_date = '2021-11-09'
placement_type = 'heu-hco'

df = pd.read_json(f"../results/{network}/{simulation_date}-{network}-{placement_type}.json")
df.latency_factor = df.latency_factor.round(1)
df.drop(labels=['h_list'], axis=1, inplace=True)
df = df.groupby(by=['latency_factor','vSDN_size']).mean()

In [19]:
df.to_csv(f"../results/{network}/{simulation_date}-{network}-{placement_type}-mean-pgf.csv")